.about-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.background {
  height: 25rem;
  width: 22rem;
  position: absolute;
  top: 35%;
  z-index: -1;
  opacity: 0.2;
}

@media screen and (min-width: 768px) {
  .background {
    height: 25rem;
    width: 40rem;
    top: 35%;
  }
}

@media screen and (min-width: 1024px) {
  .background {
    top: 30%;
  }
}
