.class-schedule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  margin-bottom: 4rem;
}
.schedule {
  width: 55rem;
  height: 30rem;
  border: 5px solid black;
  margin-top: 2rem;
}

@media screen and (max-width: 700px) {
  .schedule {
    width: 21rem;
    height: 13rem;
  }
}
@media screen and (min-width: 700px) {
  .schedule {
    width: 35rem;
    height: 20rem;
  }
}
@media screen and (min-width: 1440px) {
  .schedule {
    width: 60rem;
    height: 35rem;
  }
}
