.class-schedule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 100%;
  margin-bottom: 13rem;
}
.schedule {
  width: 20rem;
  height: 13rem;
  border: 5px solid black;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .class-schedule-container {
    height: 50vh;
  }
  .schedule {
    width: 30rem;
    height: 20rem;
  }
}

@media screen and (min-width: 1024px) {
  .class-schedule-container {
    height: 55vh;
  }
  .schedule {
    width: 38rem;
    height: 25rem;
  }
}
@media screen and (min-width: 1440px) {
  .schedule {
    width: 45rem;
    height: 28rem;
  }
}
