.class-schedule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55vh;
}
.schedule {
  width: 20rem;
  height: 13rem;
  border: 5px solid black;
}

@media screen and (min-width: 768px) {
  .schedule {
    width: 32rem;
    height: 20rem;
  }
}

@media screen and (min-width: 1024px) {
  .class-schedule-container {
    height: 85vh;
  }
  .schedule {
    width: 60rem;
    height: 30rem;
  }
}
@media screen and (min-width: 1440px) {
  .class-schedule-container {
    height: 70vh;
  }
  .schedule {
    width: 45rem;
    height: 28rem;
  }
}
