.classes-container {
  height: 87vh;
  width: 100%;
}

.classes-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.classes-img {
  display: none;
}

.classes-text-wrapper {
  width: 280px;
  height: 32rem;
  margin: 4rem 0;
  padding: 30px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.classes-header {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.classes-description-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.classes-paragraph {
  font-size: 0.8rem;
  line-height: 1.3rem;
}

@media screen and (min-width: 768px) {
  .classes-text-wrapper {
    width: 350px;
  }
  .classes-header {
    font-size: 3.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .classes-container {
    flex-direction: row;
  }
  .classes-wrapper {
    background-color: #eaeaea;
    height: 100%;
  }
  .classes-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .classes-img img {
    width: 500px;
  }
  .classes-text-wrapper {
    width: 50%;
    height: 80%;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .classes-description-wrapper {
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .classes-description-wrapper {
    width: 30rem;
  }
}
