.solid-btn {
  border-radius: 4px;
  /* background: linear-gradient(90deg, #5c6bc0 0%, #ef5350 100%); */
  background-color: #5072a7;
  /* background: linear-gradient(90deg, #5072a7 0%, #bbdefb 100%); */
  border: none;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 20px;
  width: 175px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px 5px 0 0;
}
.solid-btn:active {
  transform: scale(1.05);
  transition: transform 200ms;
}
.solid-btn span {
  cursor: pointer;
  position: relative;
  top: -1.5px;
  transition: 0.4s;
}
.solid-btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.solid-btn:hover span {
  padding-right: 25px;
}
.solid-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.outline-btn {
  border-radius: 4px;
  background: transparent;
  border: 1px solid #5072a7;
  color: #5072a7;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 19px;
  width: 175px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px 0 0 5px;
}
.outline-btn:active {
  transform: scale(1.05);
  transition: transform 200ms;
}
.outline-btn span {
  cursor: pointer;
  position: relative;
  top: -1.5px;
  transition: 0.4s;
}
.outline-btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.outline-btn:hover span {
  padding-right: 25px;
}
.outline-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.view-btn {
  width: 300px;
  height: 80px;
}

.header-btn {
  font-size: 0.8rem;
  height: 55px;
}

.classes-btn {
  border-radius: 4px;
  background-color: #5072a7;
  border: none;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 20px;
  width: 250px;
  transition: all 0.4s;
  cursor: pointer;
}
.classes-btn:active {
  transform: scale(1.05);
  transition: transform 200ms;
}
.classes-btn span {
  cursor: pointer;
  position: relative;
  top: -1.5px;
  transition: 0.4s;
}
.classes-btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.classes-btn:hover span {
  padding-right: 25px;
}
.classes-btn:hover span:after {
  opacity: 1;
  right: 0;
}
