.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 5rem;
}
.quote-testimony {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.quote-wrapper {
  display: flex;
  justify-content: center;
}
.testimony1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9575cd;
  width: 100%;
  padding: 1.4rem;
}
.testimony2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4dd0e1;
  width: 100%;
  padding: 1.4rem;
}
.testimony3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4db6ac;
  width: 100%;
  padding: 1.4rem;
}
.arrows {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-arrow-container {
  margin-left: 1rem;
}
.left-arrow-container {
  margin-right: 1rem;
}
.right-arrow {
  font-size: 2.5rem;
  cursor: pointer;
  user-select: none;
  z-index: 10;
  color: #eeeeee;
  opacity: 0.7;
}
.left-arrow {
  font-size: 2.5rem;
  cursor: pointer;
  user-select: none;
  z-index: 10;
  color: #eeeeee;
  opacity: 0.7;
}
.right-arrow:hover {
  opacity: 1;
}
.left-arrow:hover {
  opacity: 1;
}
.right-arrow:active {
  transform: scale(1.08);
  opacity: 1;
}
.left-arrow:active {
  transform: scale(1.08);
  opacity: 1;
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
