.navbar {
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
}

.navbar img {
  width: 200px;
  margin-left: 3rem;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-item {
  padding: 1rem;
  font-size: 1rem;
  margin-right: 0.5rem;
}

.social {
  display: none;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1200px) {
  .navbar img {
    margin-left: 1rem;
  }
  .nav-menu {
    position: fixed;
    left: -100rem;
    top: 130px;
    flex-direction: column;
    /* justify-content: center; */
    background-color: white;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: 0.4s;
    z-index: 1000;
    margin-top: 3rem;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 1rem;
    font-size: 1.2rem;
    justify-content: center;
    margin-left: -3.5rem;
  }
  .social {
    display: flex;
    margin-left: -3rem;
    margin-top: 0.8rem;
  }
  .facebook {
    color: blue;
    margin-right: 1.5rem;
  }
  .instagram {
    color: purple;
    margin-right: 1.5rem;
  }
  .twitter {
    color: dodgerblue;
    margin-right: 1.5rem;
  }
  .yelp {
    color: red;
    margin-right: 1.5rem;
  }
  .hamburger {
    display: flex;
    margin-right: 2rem;
  }
}
