.wrapper {
  /* background: linear-gradient(90deg, #880fc4 0%, #1d39f2 100%); */
  background: linear-gradient(90deg, #ef5350 0%, #3d5afe 100%);
  /* background: linear-gradient(90deg, #e53935 0%, #304ffe 100%); */
  height: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "raleway", sans-serif;
  color: #fff;
  padding: 2rem 0;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}
.yelp-card {
  width: 1168px;
}
.card {
  width: 380px;
  height: 250px;
  border-radius: 15px;
  margin: 7px;
  padding: 0 30px;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.p {
  font-size: 13px;
  margin-top: 40px;
  margin-bottom: 25px;
}

.h2 {
  font-weight: bolder;
  font-size: 14px;
}

.h4 {
  color: #333;
  font-weight: 400;
  font-size: 10px;
  font-weight: bold;
}

.yelp-review-wrapper {
  margin-top: -0.6rem;
}

.quote {
  font-size: 50px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.card:hover {
  transform: scale(1.02);
  color: #333;
  background: #fff;
  z-index: 100;
}

@media (min-width: 375px) {
  .cards {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .card {
    width: 260px;
    height: 280px;
    margin: 10px;
  }
  .yelp-card {
    width: 260px;
    height: 180px;
    border-radius: 15px;
    margin: 7px;
    padding: 20px 30px;
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .yelp-card img {
    width: 2rem;
  }
  .rating {
    font-weight: bolder;
    font-size: 1.3rem;
    /* color: #fff; */
  }
  .yelp-card h3 {
    color: #212121;
    font-weight: bold;
  }
  .review-btn {
    height: 2rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .review-btn span {
    top: -11px;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    justify-content: flex-start;
    height: 100vh;
    padding: 3rem;
  }
  .cards {
    display: none;
  }
  .yelp-card {
    width: 748px;
  }
  .card {
    width: 240px;
    height: 300px;
    margin: 7px;
  }
}
@media (min-width: 1400px) {
  /* .wrapper {
    height: 90vh;
  } */
  .yelp-card {
    width: 1108px;
  }
  .card {
    width: 360px;
    height: 250px;
    margin: 7px;
  }
}
